KPeople-EPE-src-0-1/conf/Registry/_system/config/repository/kpeople/resources/wsdl/kpeople.epe.channel.service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:kp-event="http://kpeople.webscience.it/types/event" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KPeopleEPEChannel" targetNamespace="http://kpeople.webscience.it/types/event">
    <wsdl:types>
        <xsd:schema   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:element name="event" type="event"/>
    <xsd:element name="getEventFault" type="getEventFault"/>
    
    <xsd:complexType name="event">
        <xsd:sequence>
            <xsd:element name="action" type="action" minOccurs="1"  maxOccurs="1"/>
            <xsd:element name="event-data" type="event-data" minOccurs="1"  maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required" />        
    </xsd:complexType>
    
    
    <xsd:complexType name="action">
        <xsd:sequence>
            <xsd:element name="action-type" type="xsd:string" minOccurs="1"  maxOccurs="1" />
            <xsd:element name="action-reference" type="resource-reference"  minOccurs="1"  maxOccurs="1" />
            <xsd:element name="system" type="system" minOccurs="1"  maxOccurs="1" />
        </xsd:sequence>      
    </xsd:complexType>
    
    <xsd:complexType name="system">
        <xsd:sequence>
            <xsd:element name="system-id" type="xsd:string" minOccurs="1"  maxOccurs="1" />
            <xsd:element name="system-type"  minOccurs="1"  maxOccurs="1" />
        </xsd:sequence>      
    </xsd:complexType>
    
    <xsd:complexType name="resource-reference">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="url" />
                            <xsd:enumeration value="path" />
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="event-data">
        <xsd:sequence>
            <xsd:element name="creation-date" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />                                                       
            <xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1" /> 
            <xsd:element name="author" type="user"  minOccurs="0" maxOccurs="1" />
            <xsd:element name="abstract" type="adv-content" minOccurs="0" maxOccurs="1" />
            <xsd:element name="body" type="adv-content"  minOccurs="0" maxOccurs="1" />
            <xsd:element name="properties" type="properties"  maxOccurs="1" minOccurs="0" /> 
            <xsd:element name="details" type="xsd:anyType" maxOccurs="1" minOccurs="0" /> 
            <xsd:element name="attachments" type="attachments" maxOccurs="1" minOccurs="0" /> 
        </xsd:sequence>      
    </xsd:complexType>
    
    <xsd:complexType name="properties" >
        <xsd:sequence>
            <xsd:element name="property" type="property"  minOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="property" >
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="user">
        <xsd:sequence>
            <xsd:element name="username" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="0" />
            <xsd:element name="email" type="xsd:string" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>      
    </xsd:complexType>
    
    <xsd:complexType name="adv-content">
        <xsd:simpleContent>
            <xsd:extension base="xsd:anySimpleType">
                <xsd:attribute name="type">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="xml" />
                            <xsd:enumeration value="text" />
                            <xsd:enumeration value="html" />
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="attachments">
        <xsd:sequence>
            <xsd:element name="attachment" type="attachment"  minOccurs="1"/>
        </xsd:sequence>      
    </xsd:complexType>
    
    <xsd:complexType name="attachment">
        <xsd:sequence>
            <xsd:element name="attachment-type" type="xsd:string" minOccurs="1" />
            <xsd:element name="attachment-data" type="xsd:anyType" minOccurs="1" />
            <xsd:element name="attachment-name" type="xsd:string" minOccurs="0"  maxOccurs="1"/> 
            <xsd:element name="hashcode" type="xsd:string" minOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required" />
    </xsd:complexType>
    
   
    <xsd:complexType name="getEventFault">
        <xsd:sequence>
            <xsd:element name="codice-errore" type="xsd:string" />
            <xsd:element name="descrizione-errore"  type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
   
</xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="getEventRequest">
        <wsdl:part name="parameters" element="kp-event:event"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="getEventResponse">
        <wsdl:part name="parameters" element="xsd:string"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="getEventFault">
        <wsdl:part name="parameters" element="kp-event:getEventFault"></wsdl:part>
    </wsdl:message>
    
    <wsdl:portType name="getEventPortType">
        <wsdl:operation name="getEvent">
            <wsdl:input message="kp-event:getEventRequest"/>
            <wsdl:output message="kp-event:getEventResponse"></wsdl:output>
            <wsdl:fault name="fault" message="kp-event:getEventFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="getEventBinding" type="kp-event:getEventPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getEvent">
            <soap:operation
                soapAction="http://localhost:8280/services/KPeopleEPEChannel/getEvent" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault" />
            </wsdl:fault>	
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="epeChannel">
        <wsdl:port name="getEventPort" binding="kp-event:getEventBinding">
            <soap:address location="http://localhost:8280/services/KPeopleEPEChannel"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>